body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: 100;
    color: #ccc;
}

#wrapper {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}

#content {
    margin: auto;
    width: 50%;
    position: relative;
    z-index: 100;
    padding: 38px 20px 20px 68px;
    max-width: 1000px;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#vzimg {
    padding-top: 12px;
    padding-right: 20px;
    height: 400px;
    float: left;
}

.heading {
    font-weight: 200;
    color: #000;
}

.nomargin {
    margin: 0;
}

.fade {
    opacity: 0;
}

.fade-animation {
    animation: fadein 3s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a:visited, a:link, a:active {
    color: #000000;
    font-weight: 200;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}